<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Temperature Sensor App</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

    <div class="chart-container">
        <canvas id="temperatureChart"></canvas>
    </div>

    <div class="info-container">
        <div>
            <p id="coordinates"></p>
            <p id="temperature"></p>
            <p id="processStatus"></p>
        </div>

        <div>
            <button id="startButton">Toaster Run</button>
            <button id="stopButton">Toaster Stop</button>
            <button id="clear">Clear</button>
        </div>

        <div>
            <input type="file" id="fileInput" style="display:none">
            <button id="saveProfile">save profile</button>
            <button id="uploadProfile">upload profile</button>
        </div>

        <div>
            <button id="downloadChartData">download chart data</button>
        </div>
    </div>

    <script src="{{ url_for('static', filename='app.js') }}"></script>
</body>
</html>