/* 全体のスタイル設定 */
body {
    margin: 0;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* グラフコンテナのスタイル設定 */
.chart-container {
    width: 80%;
}

/* グラフのスタイル設定 */
#temperatureChart {
    width: 100%;
}